.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #101d30;
    color: #fff;
    margin: -8px -8px 0 -8px;
}
  
.left-section {
    display: flex;
    align-items: center;
}
  
.right-section {
    display: flex;
    align-items: center;
}

.jugador {
    font-weight: bold;
    font-size: x-large;
    margin-left: 5px;
}

label {
    margin-right: 10px;
    font-weight: bold;
    font-size: larger;
}
  
select {
    padding: 5px;
    margin-right: 10px;
}