<app-header></app-header>
<h1>Memoriza los Números</h1>
<div *ngIf="(arregloNumeros.length >= 1) else iniciarJuego">
    <p class="puntos">Puntos: <span>{{puntos}}</span></p>
    <h2 *ngIf="numeroParaAdivinar">¿Dónde está el número: {{numeroParaAdivinar}}?</h2>
    <div class="center-container">
        <app-number-list 
            [arregloNumeros]="arregloNumeros"
        ></app-number-list>
</div>
</div>
<ng-template #iniciarJuego>
    <h2 style="color: red;">Elige un nivel y haz click en el botón Jugar para iniciar la partida</h2>
</ng-template>

<div class="center-container">
    <button class="jugar" (click)="jugar()" [disabled]="!nivel">Jugar</button>
</div>