.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    border: 5px solid #2d2de9;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.5rem;
}
  
.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.submit {
    background-color: #2d2de9;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
    text-align: center;
}
.submit:disabled {
    background-color: #a1a1e2;
    cursor: not-allowed;
}